$dark: #1A242D;
$light: #EFF4FA;
$blue-light: #84AACB;
$blue: #0B2867;
$blue-hover: #1A4298;
$red-light: #CC0202;
$red-dark: #7A0101; // поправить


$font-title: 'Oswald', Arial, sans-serif;
$font-reg: 'Roboto', Arial, sans-serif;