$dark: #1A242D;
$light: #EFF4FA;
$blue-light: #84AACB;
$blue: #0B2867;
$red-light: #CC0202;
$red-dark: #CC0202; // поправить


$font-title: 'Oswald', Arial, sans-serif;
$font-reg: 'Roboto', Arial, sans-serif;