/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap&subset=cyrillic");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&display=swap&subset=cyrillic");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

svg,
a {
  transition: 0.3s all;
}

.body {
  color: #1A242D;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  line-height: 1.3;
  background-color: #ffffff;
}

.container {
  width: 1070px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.title {
  text-transform: uppercase;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.title--center {
  text-align: center;
}

.title strong {
  color: #CC0202;
}

.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
  font-weight: bold;
  font-family: "Oswald", Arial, sans-serif;
  margin-bottom: 1rem;
  padding-left: 88px;
}

.text h2 {
  font-size: 30px;
  padding-left: 0px;
}

.text h3 {
  font-size: 26px;
}

.text h4 {
  font-size: 22px;
}

.text h5 {
  font-size: 18px;
}

.text img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.text p {
  margin-bottom: 1rem;
  padding-left: 88px;
}

.text blockquote {
  color: #CC0202;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  padding-left: 30px;
  padding-bottom: 32px;
  margin-left: 54px;
  border-left: 4px solid #CC0202;
  border-bottom: 2px solid #CC0202;
  margin-bottom: 41px;
  margin-top: 40px;
}

.text a {
  text-decoration: underline;
  color: #1A242D;
}

.text a:hover {
  opacity: 0.7;
}

.text strong,
.text b {
  font-weight: bold;
}

.text i {
  font-style: italic;
}

.layout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.layout__main {
  width: calc(75% - 6px);
}

.layout__sidebar {
  width: calc(25% - 6px);
  padding-top: 58px;
}

.layout__sidebar--0 {
  padding-top: 0px;
}

.layout--block {
  display: block;
}

.sidebar {
  background-color: #0B2867;
  color: #EFF4FA;
  padding: 24px 13px;
}

.sidebar--light {
  background-color: #ffffff;
  color: #1A242D;
  padding: 0px;
}

.sidebar--margin {
  margin-bottom: 58px;
}

.sidebar__header {
  min-height: 58px;
}

.sidebar__title {
  margin-bottom: 10px;
}

.sidebar__article {
  text-decoration: none;
  color: #EFF4FA;
  padding-top: 21px;
  padding-bottom: 21px;
  display: block;
}

.sidebar__article:hover {
  opacity: 0.7;
}

.sidebar__article--light {
  padding: 0px;
  height: 294px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #EFF4FA;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 14px;
}

.sidebar__time {
  margin-bottom: 5px;
}

.sidebar__name--light {
  background: rgba(26, 36, 45, 0.8);
  padding: 8px;
}

.time {
  color: #84AACB;
  display: block;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
}

.section__header {
  min-height: 58px;
}

.section__content {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.breadcrumbs__link {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", Arial, sans-serif;
  color: #1A242D;
}

.breadcrumbs__link:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  background-color: #84AACB;
  height: 2px;
}

.breadcrumbs__link:hover {
  color: #84AACB;
}

.breadcrumbs__link--static {
  color: #84AACB;
}

.breadcrumbs__link--static:after {
  display: none;
}

.breadcrumbs svg {
  height: 7px;
  width: 5px;
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.header {
  margin-bottom: 45px;
  padding-top: 16px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  flex-shrink: 0px;
  display: block;
  margin-right: 32px;
}

.header__logo svg {
  display: block;
  width: 230px;
  height: 103px;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.header__topline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.header__topline-right {
  display: flex;
  align-items: center;
}

.header__top-link {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Oswald", Arial, sans-serif;
  color: #1A242D;
  text-decoration: none;
  display: inline-block;
}

.header__top-link:hover {
  opacity: 0.7;
}

.header__social {
  display: flex;
  margin-left: 20px;
}

.search {
  position: relative;
}

.search input {
  display: block;
  width: 250px;
  height: 30px;
  border: none;
  background-color: #EFF4FA;
  font-size: 14px;
  font-family: "Oswald", Arial, sans-serif;
  color: #84AACB;
  padding-left: 12px;
  padding-right: 12px;
}

.search input::placeholder {
  color: #84AACB;
}

.search button {
  position: absolute;
  right: 0px;
  z-index: 2;
  bottom: 0px;
  top: 0px;
  height: 100%;
  width: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.search button svg {
  display: block;
  height: 13px;
  width: 13px;
}

.nav {
  background-color: #0B2867;
  font-family: "Oswald", Arial, sans-serif;
  display: flex;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 21px;
  color: #EFF4FA;
  flex-grow: 1;
}

.nav__link:after {
  content: "";
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 2px;
  display: block;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  opacity: 0;
  transition: 0.3s all;
}

.nav__link:hover:after {
  opacity: 1;
}

.nav__box {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  padding: 8px 21px;
  color: #EFF4FA;
  cursor: pointer;
}

.nav__box svg {
  height: 5px;
  width: 7px;
  margin-left: 6px;
}

.nav__box:hover .nav__drop {
  max-height: 300px;
}

.nav__box--red {
  background-color: #CC0202;
}

.nav__drop {
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  background-color: #07183E;
  z-index: 3;
  overflow: hidden;
  max-height: 0px;
  transition: 0.3s all;
}

.nav__drop--red {
  background-color: #7A0101;
}

.nav__drop-content {
  padding: 4px 10px;
}

.nav__drop-content a {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  padding: 8px 15px;
  color: #EFF4FA;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__drop-content a:after {
  content: "";
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 2px;
  display: block;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  opacity: 0;
  transition: 0.3s all;
}

.nav__drop-content a:hover:after {
  opacity: 1;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 60px;
}

.form__select {
  width: 340px;
  height: 40px;
  border: 2px solid #EFF4FA;
  font-size: 20px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 12px;
  box-sizing: border-box;
  margin-bottom: 12px;
  flex-shrink: 0;
  font-family: "Oswald", Arial, sans-serif;
}

.form__select option {
  background: #EFF4FA;
}

.form__select option:hover {
  background-color: red;
}

.form__select:last-child {
  margin-right: 0px;
}

.form__select--50 {
  width: calc(50% - 6px);
  margin-right: 0px;
}

.form__select--100 {
  width: 100%;
}

.form__search {
  width: 692px;
  box-sizing: border-box;
  height: 40px;
  border: none;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 20px;
  background-color: #EFF4FA;
  margin-right: 12px;
  flex-shrink: 0;
  font-family: "Oswald", Arial, sans-serif;
}

.form__btn {
  background-color: #0B2867;
  color: #EFF4FA;
  text-transform: uppercase;
  box-sizing: border-box;
  height: 40px;
  width: 164px;
  border: none;
  font-family: "Oswald", Arial, sans-serif;
  cursor: pointer;
  margin-right: 12px;
  transition: 0.3s all;
}

.form__btn:hover {
  background-color: #1A4298;
}

.form__reset {
  color: #84AACB;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
}

.form__reset:hover {
  color: #5E7384;
}

.form__break {
  margin-bottom: 12px;
}

.pagination {
  height: 38px;
  display: inline-flex;
}

.pagination__link {
  font-weight: 500;
  text-transform: uppercase;
  color: #84AACB;
  font-family: "Oswald", Arial, sans-serif;
  text-decoration: none;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #EFF4FA;
  border-bottom: 2px solid #EFF4FA;
  position: relative;
  border-left: 2px solid #EFF4FA;
  border-right: 2px solid #EFF4FA;
}

.pagination__link:before {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  top: -2px;
  bottom: -2px;
  width: 2px;
  background-color: #0B2867;
  opacity: 0;
  z-index: 2;
  transition: 0.3s all;
}

.pagination__link:after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: -2px;
  bottom: -2px;
  width: 2px;
  background-color: #0B2867;
  opacity: 0;
  z-index: 2;
  transition: 0.3s all;
}

.pagination__link--start {
  border: 2px solid #EFF4FA;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination__link--finish {
  border: 2px solid #EFF4FA;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination__link--prev svg {
  height: 11px;
  width: 7px;
  display: block;
  transform: rotate(180deg);
}

.pagination__link--next svg {
  height: 11px;
  width: 7px;
  display: block;
}

.pagination__link--active {
  color: #0B2867;
  border-color: #0B2867;
}

.pagination__link--active:before {
  opacity: 1;
}

.pagination__link--active:after {
  opacity: 1;
}

.pagination__link:hover {
  color: #0B2867;
  border-color: #0B2867;
}

.pagination__link:hover:before {
  opacity: 1;
}

.pagination__link:hover:after {
  opacity: 1;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__icon svg {
  opacity: 1;
}

.checkbox__icon {
  position: relative;
  height: 20px;
  width: 20px;
  border: 2px solid #EFF4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox__icon svg {
  position: relative;
  width: 14px;
  height: 13px;
  opacity: 0;
  transition: 0.3s all;
}

.checkbox__text {
  font-family: "Oswald", Arial, sans-serif;
}

.footer {
  font-size: 16px;
  font-family: "Oswald", Arial, sans-serif;
}

.footer__content {
  background-color: #0B2867;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  color: #84AACB;
}

.footer__columns--1 {
  width: 245px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 26px;
  height: fit-content;
}

.footer__columns--2 {
  width: 140px;
  flex-shrink: 0;
  font-family: "Oswald", Arial, sans-serif;
}

.footer__columns--3 {
  width: 140px;
  flex-shrink: 0;
}

.footer__columns--4 {
  width: 140px;
  flex-shrink: 0;
}

.footer__columns--5 {
  width: 140px;
  flex-shrink: 0;
}

.footer__btn {
  background-color: #CC0202;
  font-family: "Oswald", Arial, sans-serif;
  flex-grow: 1;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EFF4FA;
  text-decoration: none;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.footer__btn:hover {
  opacity: 0.7;
}

.footer__fact {
  font-family: "Oswald", Arial, sans-serif;
  color: #EFF4FA;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.footer__fact svg {
  width: 18px;
  display: block;
  margin-right: 10px;
  height: 18px;
}

.footer__fact a {
  color: #EFF4FA;
  text-decoration: none;
}

.footer__fact a:hover {
  opacity: 0.7;
}

.footer__nav {
  margin-bottom: 10px;
}

.footer__nav a {
  display: block;
  color: #84AACB;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer__nav a:hover {
  opacity: 0.7;
}

.footer__nav a:first-child {
  color: #EFF4FA;
  text-transform: uppercase;
}

.social__links {
  display: flex;
}

.social__link {
  display: block;
  margin-right: 6px;
}

.social__link:hover {
  opacity: 0.7;
}

.social__link svg {
  height: 24px;
  width: 24px;
  display: block;
}

.expert {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.expert p {
  margin-bottom: 1rem;
}

.expert strong {
  font-weight: bold;
}

.expert__column {
  flex-shrink: 0;
}

.expert__column--thumb {
  width: calc(100% / 12 * 3 - 8px);
}

.expert__column--thumb img {
  display: block;
  width: 100%;
  height: auto;
}

.expert__column--info {
  width: calc(100% / 12 * 5 - 8px);
  padding: 20px 12px;
}

.expert__column--publication {
  width: calc(100% / 12 * 4 - 8px);
  padding: 20px 12px;
}

.expert__title {
  font-size: 30px;
  font-family: "Oswald", Arial, sans-serif;
  margin-bottom: 10px;
}

.expert__subtitle {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Oswald", Arial, sans-serif;
}

.expert__publication-text {
  margin-bottom: 50px;
}

.expert__link {
  color: #1A242D;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.expert__link:hover {
  color: #5E7384;
}

.news {
  margin-bottom: 15px;
}

.news--bit .article {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 90px;
}

.news--bit .article__thumb {
  width: 163px;
  height: 100%;
}

.news--bit .article__content {
  padding: 8px 12px;
  flex-grow: 1;
  min-width: 0px;
  height: auto;
  min-height: 90px;
}

.news--bit .article__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news--party .article__content {
  padding-top: 24px;
}

.news__articles {
  justify-content: space-between;
}

.news__articles .article {
  margin-bottom: 14px;
}

.flags {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.flags__column-content {
  display: flex;
}

.flags__link {
  display: block;
  color: #1A242D;
  text-decoration: none;
  text-align: center;
  margin-left: 12px;
}

.flags__link img {
  display: block;
  margin-bottom: 10px;
}

.flags__link:hover {
  opacity: 0.7;
}

.flags__text {
  font-size: 16px;
  font-family: "Oswald", Arial, sans-serif;
}

.special {
  padding: 24px 24px 45px 24px;
  background-size: cover;
  background-position: center;
  color: #EFF4FA;
  margin-bottom: 26px;
  text-decoration: none;
  display: block;
}

.special:hover {
  opacity: 0.7;
}

.special__title {
  margin-bottom: 26px;
}

.special__text {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 20px;
}

.page-news__articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}

.page-news__articles .article {
  width: calc(50% - 6px);
  display: flex;
  flex-direction: row;
  height: 90px;
}

.page-news__articles .article__thumb {
  width: 163px;
  height: 100%;
}

.page-news__articles .article__content {
  padding: 8px 12px;
  flex-grow: 1;
  min-width: 0px;
  height: auto;
  min-height: 90px;
}

.page-news__articles .article__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.page-experts__form-top {
  margin-bottom: 30px;
}

.page-experts__form-bottom {
  margin-bottom: 12px;
  justify-content: space-between;
}

.page-experts__articles {
  margin-bottom: 60px;
}

.analitic__tabs {
  margin-bottom: 15px;
}

.analitic__tab {
  text-transform: uppercase;
  color: #84AACB;
  text-decoration: none;
  font-family: "Oswald", Arial, sans-serif;
  margin-right: 40px;
}

.analitic__tab:hover {
  color: #5E7384;
}

.analitic__tab--active {
  pointer-events: none;
  color: #0B2867;
}

.analitic__articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-search__tabs {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  color: #84AACB;
}

.page-search__tab {
  text-transform: uppercase;
  color: #84AACB;
  text-decoration: none;
  font-family: "Oswald", Arial, sans-serif;
  margin-right: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.page-search__tab:hover {
  color: #5E7384;
}

.page-search__tab--active {
  pointer-events: none;
  color: #0B2867;
}

.page-search__tab:first-child {
  margin-left: 0px;
}

.page-search__tab:last-child {
  margin-right: 0px;
}

.page-search__separator {
  display: inline-block;
  background-color: #84AACB;
  height: 100%;
  width: 2px;
  margin-left: 8px;
  margin-right: 8px;
}

.page-expert {
  margin-bottom: 100px;
}

.page-expert__title {
  margin-bottom: 35px;
}

.page-expert__columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.page-expert__column--3 {
  width: calc(100% / 12 * 3 - 6px);
}

.page-expert__column--9 {
  width: calc(100% / 12 * 9 - 6px);
}

.page-expert__img {
  display: block;
  width: 100%;
}

.page-expert__control {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.page-expert__control svg {
  display: block;
  width: 20px;
  height: 16px;
  margin-right: 20px;
}

.page-expert__control span {
  text-transform: uppercase;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #84AACB;
}

.page-expert__control:hover {
  opacity: 0.7;
}

.page-expert__articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-expert__content {
  margin-bottom: 25px;
}

.expert-block {
  display: flex;
  margin-bottom: 4px;
  align-items: flex-start;
}

.expert-block__column--left {
  width: 163px;
  background-color: #EFF4FA;
  padding: 8px 9px;
  text-transform: uppercase;
  font-family: "Oswald", Arial, sans-serif;
  flex-shrink: 0;
}

.expert-block__column--right {
  min-width: 0px;
  flex-grow: 1;
  padding: 10px 12px;
  font-weight: 300;
  border-top: 2px solid #EFF4FA;
}

.expert-block__column--right p {
  margin-bottom: 1rem;
}

.expert-block__column--right p:last-child {
  margin-bottom: 0px;
}

.expert-block__column--right a {
  color: #1A242D;
  text-decoration: none;
}

.expert-block__column--right a:hover {
  text-decoration: underline;
}

.single__title {
  margin-bottom: 45px;
}

.single__columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.single__column--left {
  width: calc(100% / 12 * 9 - 6px);
}

.single__column--right {
  width: calc(100% / 12 * 3 - 6px);
}

.single__content {
  margin-bottom: 40px;
}

.single__tags {
  font-weight: 300;
  margin-bottom: 10px;
}

.single__from {
  font-weight: 300;
  margin-bottom: 28px;
}

.single__words {
  margin-bottom: 30px;
}

.single__word {
  padding: 6px 16px;
  background-color: #EFF4FA;
  font-weight: 300;
  text-decoration: none;
  color: #1A242D;
}

.single__word:hover {
  opacity: 0.7;
}

.single__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single__nav-link {
  text-decoration: none;
}

.single__nav-link--top svg {
  transform: rotate(90deg);
}

.single__nav-link svg {
  width: 22px;
  height: 22px;
  margin-right: 20px;
}

.single__nav-link span {
  font-weight: 500;
  font-size: 30px;
  color: #84AACB;
  text-transform: uppercase;
  font-family: "Oswald", Arial, sans-serif;
}

.single__nav-link:hover {
  opacity: 0.7;
}

.single__comments {
  margin-bottom: 85px;
}

.single__more {
  margin-bottom: 25px;
}

.single__subtitle {
  margin-bottom: 20px;
}

.single__articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  background-color: #0B2867;
  color: #EFF4FA;
  display: flex;
  margin-bottom: 12px;
}

.card__thumb {
  width: 76px;
  min-height: 84px;
  max-height: 98px;
  flex-shrink: 0;
}

.card__thumb img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__content {
  padding: 13px 12px;
  flex-grow: 1;
  min-width: 0px;
  font-weight: 300;
  font-family: "Oswald", Arial, sans-serif;
}

.card__content b {
  font-weight: bold;
}

.card__author {
  margin-bottom: 10px;
}

.card__author a {
  color: #EFF4FA;
}

.card__author a:hover {
  opacity: 0.7;
}

.info__title {
  margin-bottom: 20px;
}

.info__columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.info__column {
  width: calc(50% - 6px);
}

.info__content p {
  margin-bottom: 1rem;
}

.info__content b {
  font-weight: bold;
  color: #CC0202;
}

.info__content a {
  color: #1A242D;
  text-decoration: none;
}

.info__content a:hover {
  text-decoration: underline;
}

.write__title {
  margin-bottom: 32px;
}

.write__columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.write__column--left {
  width: calc(100% / 12 * 4 - 6px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.write__column--right {
  width: calc(100% / 12 * 8 - 6px);
}

.write__label {
  margin-bottom: 20px;
  display: block;
}

.write__label:last-child {
  margin-bottom: 0px;
}

.write__name {
  text-transform: uppercase;
  font-family: "Oswald", Arial, sans-serif;
  margin-bottom: 8px;
}

.write__input {
  height: 40px;
  border: 0px;
  background-color: #EFF4FA;
  display: block;
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Oswald", Arial, sans-serif;
  box-sizing: border-box;
}

.write__textarea {
  border: 0px;
  resize: none;
  background-color: #EFF4FA;
  height: 142px;
  display: block;
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Oswald", Arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.write__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.write__btn {
  width: 245px;
  height: 40px;
  border: none;
  background-color: #CC0202;
  transition: 0.3s all;
  color: #EFF4FA;
  text-transform: uppercase;
  font-family: "Oswald", Arial, sans-serif;
  cursor: pointer;
}

.write__btn:hover {
  background-color: #7A0101;
}

.article {
  position: relative;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #EFF4FA;
  text-decoration: none;
  color: #1A242D;
  margin-bottom: 12px;
}

.article:hover {
  opacity: 0.7;
}

.article--accent {
  justify-content: flex-end;
}

.article--66 {
  width: calc(66% + 1px);
}

.article--33 {
  width: calc(33% - 6px);
}

.article--clear-33 {
  display: block;
  height: 0px;
  width: calc(33% - 6px);
}

.article--50 {
  width: calc(50% - 6px);
}

.article--clear-50 {
  display: block;
  height: 0px;
  width: calc(50% - 6px);
}

.article--25 {
  width: calc(25% - 8px);
}

.article--clear-25 {
  display: block;
  height: 0px;
  width: calc(25% - 8px);
}

.article__tag {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #0B2867;
  font-family: "Oswald", Arial, sans-serif;
  color: #EFF4FA;
  font-size: 16px;
  text-transform: uppercase;
  padding: 4px 8px;
  z-index: 2;
}

.article__thumb {
  height: 192px;
  flex-shrink: 0;
}

.article__thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__thumb--accent {
  position: absolute;
  bottom: 0px;
  top: 0px;
  height: auto;
  left: 0px;
  right: 0px;
}

.article__content {
  padding: 12px 15px 20px 15px;
  height: 114px;
}

.article__content--accent {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
}

.article__time {
  margin-bottom: 5px;
}

.article__title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.partners__title {
  margin-bottom: 20px;
}

.partners__items {
  display: flex;
  align-items: center;
}

.partners__item {
  margin-right: 20px;
}

.partners__item img {
  display: block;
  height: 66px;
}

.partners__item:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=maps/main.css.map */
