.info {
	margin-bottom: 60px;
	&__title {
		margin-bottom: 20px;
	}
	&__columns {
		display: flex;
		justify-content: space-between;
		@include r(1100) {
			display: block;
		}
	}
	&__column {
		width: calc(50% - 6px);
		@include r(1100) {
			margin-bottom: 30px;
		}
	}
	&__content {
		p {
			margin-bottom: 1rem;
		}
		b {
			font-weight: bold;
			color: $red-light;
		}
		a {
			color: $dark;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}