<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Аналитика</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
	<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
	<link rel="stylesheet" href="styles/main.css">
</head>
<body class="body">
	<div class="page">
		@@include("../blocks/modules/header/header.html")
		<main class="content">
			<div class="container">
				<div class="layout layout--block">
					<section class="analitic">
						<div class="breadcrumbs">
							<a href="" class="breadcrumbs__link">
								Главная
							</a>
							<svg class="icon-svg">
								<use xlink:href="img/sprites/sprite.svg#arrow"></use>
							</svg>
							<span class="breadcrumbs__link breadcrumbs__link--static">
								Аналитика
							</span>
						</div>
						<h2 class="title partners__title">
							Аналитика
						</h2>
						<form action="" class="form">
							<select class="form__select form__select--50">
								<option selected value="">Рубрика</option>
								<option value="1">Пункт 1</option>
								<option value="2">Пункт 2</option>
								<option value="3">Пункт 3</option>
							</select>
							<select class="form__select form__select--50">
								<option selected value="">Автор</option>
								<option value="1">Пункт 1</option>
								<option value="2">Пункт 2</option>
								<option value="3">Пункт 3</option>
							</select>
							<input type="text" class="form__search" placeholder="Поиск">
							<button class="form__btn">
								Найти
							</button>
							<a href="#" class="form__reset">
								Сбросить фильтр
							</a>
						</form>
						<nav class="analitic__tabs">
							<a href="#" class="analitic__tab analitic__tab--active">
								Все темы
							</a>
							<a href="#" class="analitic__tab">
								Политкухня
							</a>
							<a href="#" class="analitic__tab">
								Мировидение
							</a>
							<a href="#" class="analitic__tab">
								О делах
							</a>
							<a href="#" class="analitic__tab">
								Люди
							</a>
						</nav>
						<div class="analitic__articles">
							<a href="single-news.html" class="article article--accent article--50">
								<span class="article__tag">
									мировидение
								</span>
								<div class="article__thumb article__thumb--accent">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--accent">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="single-news.html" class="article article--25">
								<span class="article__tag">
									мировидение
								</span>
								<div class="article__thumb">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="single-news.html" class="article article--25">
								<span class="article__tag">
									мировидение
								</span>
								<div class="article__thumb">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="single-news.html" class="article article--25">
								<span class="article__tag">
									мировидение
								</span>
								<div class="article__thumb">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="single-news.html" class="article article--25">
								<span class="article__tag">
									мировидение
								</span>
								<div class="article__thumb">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="single-news.html" class="article article--25">
								<span class="article__tag">
									мировидение
								</span>
								<div class="article__thumb">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="single-news.html" class="article article--25">
								<span class="article__tag">
									мировидение
								</span>
								<div class="article__thumb">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<div class="article--clear-25"></div>
							<div class="article--clear-25"></div>
						</div>
					</section>
					<div class="pagination">
						<a href="" class="pagination__link pagination__link--start">
							В начало
						</a>
						<a href="" class="pagination__link pagination__link--prev">
							<svg class="icon-svg">
								<use xlink:href="img/sprites/sprite.svg#arrow"></use>
							</svg>
						</a>
						<a href="" class="pagination__link pagination__link--active">
							1
						</a>
						<a href="" class="pagination__link">
							2
						</a>
						<a href="" class="pagination__link pagination__link--next">
							<svg class="icon-svg">
								<use xlink:href="img/sprites/sprite.svg#arrow"></use>
							</svg>
						</a>
						<a href="" class="pagination__link pagination__link--finish">
							В конец
						</a>
					</div>
				</div>
			</div>
		</main>
		@@include("../blocks/modules/footer/footer.html")
		<script src="js/vendor.js"></script>
		<script src="js/main.js"></script>
	</div>
</body>
</html>
