<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Хан-Тенгри одиночная новость</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
	<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
	<link rel="stylesheet" href="styles/main.css">
	<script>
		var socials = {
			vk: 'https://vk.com/lentach',
			fb: 'https://web.facebook.com/oldLentach/',
			twitter: 'https://twitter.com/oldLentach',
			ok: 'https://ok.ru/',
			tg: 'ria.ru'
		}
	</script>
</head>
<body class="body body--dark">
	<div class="page">
		@@include("../blocks/modules/header/header--dark.html")
		<main class="content">
			<div class="container">
				@@include("../blocks/modules/han-intro/han-intro-bit.html")
			</div>
			<div class="wrapper">
				<div class="container">
					
					<section class="single single--han">
						<div class="single__columns">
							<div class="single__column single__column--left">
								<h1 class="title single__title">
									Одиночная запись
								</h1>
								<div class="single__information">
									<b>Дата:</b> <time>Mar 14, 2018</time>
									<br>
									<b>Автор:</b> <a href="author.html">Карбунгуллы Бердымухамбетов</a>
								</div>
								<div class="single__content text">
									<h2>
										Заголовок h2
									</h2>
									<h3>
										Заголовок h3
									</h3>
									<h4>
										Заголовок h4
									</h4>
									<h5>
										Заголовок h5
									</h5>
									<h6>
										Заголовок h6
									</h6>
									<p>
										<a href="#">Ссылка куда-то</a>, <strong>strong</strong> и <b>bold</b>, <i>italic</i>, 
									</p>
									<p>
										29 января 1955 года в Сталинабаде (Душанбе) родилась Зебинисо, которая спустя 20 лет произвела фурор, не только в СССР, но и на всем Востоке. Кто знает, кем бы стала Зебинисо Рустамова, если бы однажды брат не привёл бы её на стадион «Динамо» в Душанбе.
									</p>
									<p>
										Зебинисо Рустамова – первая таджичка, ставшая чемпионкой мира. Высшая награда Таджикистана по стрельбе названа в ее честь. В июле 1975 года никому неизвестная спортсменка из Таджикистана Зебинисо выиграла золото в в личном и командном зачете по стрельбе из лука на чемпионате мира в Швейцарии. Она вошла в историю Таджикистана, как первая женщина, завоевавшая золотую медаль на мировом первенстве.
									</p>
									<a href="http://placehold.it/1900x1200" data-fancybox="images" data-fancybox data-caption="Подпись к модальному окну">
										<img src="http://placehold.it/1200x900"  alt="Фотография с ссылкой">
									</a>
									<p>
										«Наверно, журналистом, когда я училась в школе, твердо решила, окончу среднюю школу и поступлю в университет на факультет журналистики», – говорит Заслуженный мастер спорта СССР Зебинисо Рустамова.
									</p>
									<p>
										Однако стрельба из лука увлекла девушку так, что о карьере журналиста пришлось забыть.
									</p>
									<p>
										«Сначала я выполнила норматив первого спортивного разряда, затем замахнулась на кандидата», - говорит Зебинисо.
									</p>
									<p>
										А когда ее включили в сборную команду Советского Союза, свободного времени совсем и не осталось. Молодая спортсменка, как и её сверстники в те годы, мечтала ходить в театр, кино, просто встречаться с подругами. Однако об этом пришлось забыть. Поездки на соревнования, учебно-тренировочные сборы отнимали всё свободное время.
									</p>
									<p>
										Стрельба из лука прививает много полезных качеств и не только таких как меткость, глазомер, твердость руки, но и таких как правильное осанка, сила и выносливость. Только на одной тренировке лучники «поднимают» до 2500 кг, если силу сопротивления, которую они преодолевают при натяжении тетивы перевести на вес в килограммах. Сами соревнования по стрельбе из лука продолжаются четыре дня и за это время лучники производят 288 выстрелов (по 72 выстрела каждый день), так что здесь нужно быть не только метким, но и очень сильным.
									</p>
									<blockquote>
										«Это захватывающее зрелище, луки, стрелы, тетивы колчаны разных цветов, красивых форм и делается всё это ныне из синтетических материалов. Очень эффективны мишени - яркие желто-красно сине-черно-белые. Всё это увлекло меня», – сказала Зебинисо.  
									</blockquote>
									<p>
										Популярность стрельбы из лука была в те годы огромная, а конкуренция на соревнованиях тем более. Зебинисо сначала стала чемпионкой мира, а лишь через год смогла завоевать золотую медаль чемпионата СССР. Для победы на чемпионате мира ей достаточно было показать результат – 2465 очков, а на чемпионате СССР – 2522 очко. В том далеком 1975 году в швейцарском городе Интерлакен 20-летняя девушка заставила заговорить весь спортивный мир. В стране, где ещё в средние века проводились соревнования по стрельбе из лука, никому не известная наследница древних согдийцев положила на «лопатки» всех сильнейших стрелков мира.
									</p>
									<a href="http://placehold.it/1900x1200" data-fancybox="images" data-fancybox data-caption="Подпись к модальному окну">
										<img src="http://placehold.it/1200x900"  alt="Фотография с ссылкой">
									</a>
									<p>
										Тот год был счастливым для нее, она попала в десятку лучших спортсменов Советского Союза. Год спустя Зебинисо Рустамова становится чемпионкой Европы в командном зачете на первенстве в Копенгагене.
									</p>
									<p>

										В те годы о ней писали все газеты страны. Тогда и появились слухи, что при посещении районов республики председатель одного из колхозов подарил Зебинисо чистокровного породистого скакуна ценой 10 тысяч долларов.
									</p>
									<p>
										У Зебинисо тогда спросили: «Действительно ли было такое?» На что она рассмеялась и сказала: «Я за свои деньги хотела приобрести автомобиль, и то мне не помогли».
									</p>
									<p>
										Ныне бывшая чемпионка, спортсменка, вписавшая своё имя золотыми буквами в историю не только таджикского спорта, но и всего Востока, передает опыт молодым.
									</p>
									<a href="http://placehold.it/1900x1200" data-fancybox="images" data-fancybox data-caption="Подпись к модальному окну">
										<img src="http://placehold.it/1200x900"  alt="Фотография с ссылкой">
									</a>
									<p>
										Стрельба из лука сегодня в стране не на самом хорошем уровне. Стрельба из лука – достаточно дорогой вид спорта, в особенности дорого обходится инвентарь и экипировка.
									</p>
									<p>
										«Конечно, трудновато в материальной составляющей, но я надеюсь, что в скором времени ситуация изменится. Нужно прикладывать все усилия, чтобы поднять вид. Стрельба из лука - древний вид спорта, имеет он и свою славную историю в нашей стране. Нужно придать ему наибольший импульс для развития.
									</p>
									<p>

										Хорошие тренеры у нас есть, много желающих заниматься. Всем нужно работать коллективно и сплоченно. Очень важно не только создать более лучшие условия для спортсменов, но и дать им хорошую мотивацию», - говорит Рустамова.
									</p>
									<p>
										По ее словам, у спортсменов нет питания, сборов, мало выездов для повышения мастерства. Если не будет подобного, то и спортсмены не будут расти, интерес пройдет. 
									</p>
									<blockquote>
										«Хочется верить, что стрельба из лука, наконец, выйдет на новый уровень развития. Очень мало соревнований у нас в стране сегодня по стрельбе из лука. Сейчас главная цель – просто провести и все. А ведь можно приглашать из других стран, но для этого надо поломать голову, проделать большой объем работы. К сожалению, этим никто не занимается. Очень верю в перспективу развития стрельбы из лука в стране и надеюсь, что в скором времени представители Таджикистана будут достигать хороших результатов на международном уровне», - подытожила легендарная спортсменка.
									</blockquote>
									<p>
										«Мы должны еще и по международному календарю работать, приравнять свой календарь соревнований к нему и вести плодотворную подготовку, сильнейшие должны готовиться к серьезным стартам. Школе стрельбы из лука надо менять свою работу, уделять внимание членам сборной», - отмечает легенда спорта.
									</p>
								</div>
							</div>
							<div class="single__column single__column--right">
								<div class="card card--han">
									<div class="card__thumb">
										<img src="http://placehold.it/900x600" alt="Аватар">
									</div>
									<div class="card__content">
										<div class="card__author">
											<b>Автор:</b> <a href="author.html">Карбунгуллы Бердымухамбетов</a>
										</div>
										<div class="card__time">
											<b>Дата:</b> <time>Mar 14, 2018</time>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="single__comments">
							Система комментариев duscus
						</div>
					</section>
				</div>
			</div>
		</main>
		@@include("../blocks/modules/footer/footer--dark.html")
		<script src="js/vendor.js"></script>
		<script src="js/main.js"></script>
	</div>
</body>
</html>
