<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Информационно-аналитический центр МГУ</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
	<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
	<link rel="stylesheet" href="styles/main.css">
	<!-- Пришлось забацать инлайново ссылки на соцсети, так нужно -->
	<script>
		var socials = {
			vk: 'https://vk.com/lentach',
			fb: 'https://web.facebook.com/oldLentach/',
			twitter: 'https://twitter.com/oldLentach',
			ok: 'https://ok.ru/',
			tg: 'ria.ru'
		}
	</script>
</head>
<body class="body body--dark">
	<div class="page">
		@@include("../blocks/modules/header/header--dark.html")
		<main class="content">
			<div class="container">
				@@include("../blocks/modules/han-intro/han-intro.html")
			</div>
			<div class="wrapper">
				<div class="container">
					
					@@include("../blocks/modules/han-info/han-info.html")

					<section class="han-news">
						<h2 class="title han-news__title">
							Мнения
						</h2>
						<div class="han-news__articles">
							<a href="han-single.html" class="article article--accent article--50">
								<span class="article__tag article__tag--dark">
									мировидение
								</span>
								<div class="article__thumb article__thumb--accent">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--accent-dark article__content--accent">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--dark article--25">
								<span class="article__tag article__tag--dark">
									мировидение
								</span>
								<div class="article__thumb">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--dark">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--dark article--25">
								<span class="article__tag article__tag--dark">
									мировидение
								</span>
								<div class="article__thumb">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--dark">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--dark article--25">
								<span class="article__tag article__tag--dark">
									мировидение
								</span>
								<div class="article__thumb">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--dark">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--dark article--25">
								<span class="article__tag article__tag--dark">
									мировидение
								</span>
								<div class="article__thumb">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--dark">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--accent article--50">
								<span class="article__tag article__tag--dark">
									мировидение
								</span>
								<div class="article__thumb article__thumb--accent">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--accent-dark article__content--accent">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
						</div>
					</section>

					<section class="han-news">
						<h2 class="title han-news__title">
							Ориенталии
						</h2>
						<div class="han-news__articles">
							<a href="han-single.html" class="article article--accent article--50">
								<span class="article__tag article__tag--dark">
									мировидение
								</span>
								<div class="article__thumb article__thumb--accent">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--accent-dark article__content--accent">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--dark article--25">
								<span class="article__tag article__tag--dark">
									мировидение
								</span>
								<div class="article__thumb">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--dark">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--dark article--25">
								<span class="article__tag article__tag--dark">
									мировидение
								</span>
								<div class="article__thumb">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--dark">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
						</div>
					</section>

					<section class="han-news">
						<h2 class="title han-news__title">
							Культура
						</h2>
						<div class="han-news__articles">
							<a href="han-single.html" class="article article--accent article--50">
								<span class="article__tag article__tag--dark">
									мировидение
								</span>
								<div class="article__thumb article__thumb--accent">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--accent-dark article__content--accent">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--dark article--25">
								<span class="article__tag article__tag--dark">
									мировидение
								</span>
								<div class="article__thumb">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--dark">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--dark article--25">
								<span class="article__tag article__tag--dark">
									мировидение
								</span>
								<div class="article__thumb">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--dark">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
						</div>
					</section>
					<section class="han-news">
						<h2 class="title han-news__title">
							История
						</h2>
						<div class="han-news__articles han-news__articles--bit">
							<a href="han-single.html" class="article article--50 article--half">
								<div class="article__thumb article__thumb--half">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--half">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title article__title--half">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--50 article--half">
								<div class="article__thumb article__thumb--half">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--half">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title article__title--half">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--50 article--half">
								<div class="article__thumb article__thumb--half">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--half">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title article__title--half">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--50 article--half">
								<div class="article__thumb article__thumb--half">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--half">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title article__title--half">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--50 article--half">
								<div class="article__thumb article__thumb--half">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--half">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title article__title--half">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--50 article--half">
								<div class="article__thumb article__thumb--half">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--half">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title article__title--half">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--50 article--half">
								<div class="article__thumb article__thumb--half">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--half">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title article__title--half">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<a href="han-single.html" class="article article--50 article--half">
								<div class="article__thumb article__thumb--half">
									<img src="http://placehold.it/900x600" alt="Превью">
								</div>
								<div class="article__content article__content--half">
									<time class="time article__time">
										July 13, 2013
									</time>
									<h3 class="article__title article__title--half">
										Эмомали Рахмон запустил свой процесс транзита власти
									</h3>
								</div>
							</a>
							<div class="article--clear-33"></div>
							<div class="article--clear-33"></div>
						</div>
					</section>
				</div>
			</div>
		</main>
		@@include("../blocks/modules/footer/footer--dark.html")
		<script src="js/vendor.js"></script>
		<script src="js/main.js"></script>
	</div>
</body>
</html>
