<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Информационно-аналитический центр МГУ</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
	<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
	<link rel="stylesheet" href="styles/main.css">
	<script>
		var socials = {
			vk: 'https://vk.com/lentach',
			fb: 'https://web.facebook.com/oldLentach/',
			twitter: 'https://twitter.com/oldLentach',
			ok: 'https://ok.ru/',
			tg: 'ria.ru'
		}
	</script>
</head>
<body class="body">
	<div class="page">
		@@include("../blocks/modules/header/header.html")
		<main class="content">
			<div class="container container--desktop">
				<div class="layout">
					<div class="layout__main">
						<section class="section section--news news news--accent">
							<div class="section__header">
								<h2 class="title section__title">
									Аналитика
								</h2>
							</div>
							<div class="section__content news__articles">
								<a href="single-news.html" class="article article--accent article--66">
									<span class="article__tag">
										мировидение
									</span>
									<div class="article__thumb article__thumb--accent">
										<img src="http://placehold.it/900x600" alt="Превью">
									</div>
									<div class="article__content article__content--accent">
										<time class="time article__time">
											July 13, 2013
										</time>
										<h3 class="article__title">
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<a href="single-news.html" class="article article--33">
									<span class="article__tag">
										мировидение
									</span>
									<div class="article__thumb">
										<img src="http://placehold.it/900x600" alt="Превью">
									</div>
									<div class="article__content">
										<time class="time article__time">
											July 13, 2013
										</time>
										<h3 class="article__title">
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<a href="single-news.html" class="article article--33">
									<span class="article__tag">
										мировидение
									</span>
									<div class="article__thumb">
										<img src="http://placehold.it/900x600" alt="Превью">
									</div>
									<div class="article__content">
										<time class="time article__time">
											July 13, 2013
										</time>
										<h3 class="article__title">
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<a href="single-news.html" class="article article--33">
									<span class="article__tag">
										мировидение
									</span>
									<div class="article__thumb">
										<img src="http://placehold.it/900x600" alt="Превью">
									</div>
									<div class="article__content">
										<time class="time article__time">
											July 13, 2013
										</time>
										<h3 class="article__title">
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<a href="single-news.html" class="article article--33">
									<span class="article__tag">
										мировидение
									</span>
									<div class="article__thumb">
										<img src="http://placehold.it/900x600" alt="Превью">
									</div>
									<div class="article__content">
										<time class="time article__time">
											July 13, 2013
										</time>
										<h3 class="article__title">
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<div class="article--clear-33"></div>
								<div class="article--clear-33"></div>
								<div class="article--clear-33"></div>
							</div>
						</section>
						<section class="flags">
							<div class="flags__column-title">
								<h2 class="title">
									Статьи <br>
									по странам
								</h2>
							</div>
							<div class="flags__column-content">
								<a href="news.html" class="flags__link">
									<img src="img/flag-kz.svg" alt="">
									<p class="flags__text">
										Казахстан
									</p>
								</a>
								<a href="news.html" class="flags__link">
									<img src="img/flag-kg.svg" alt="">
									<p class="flags__text">
										Кыргызстан
									</p>
								</a>
								<a href="news.html" class="flags__link">
									<img src="img/flag-ru.svg" alt="">
									<p class="flags__text">
										Россия
									</p>
								</a>
								<a href="news.html" class="flags__link">
									<img src="img/flag-tk.svg" alt="">
									<p class="flags__text">
										Туркменистан
									</p>
								</a>
								<a href="news.html" class="flags__link">
									<img src="img/flag-tj.svg" alt="">
									<p class="flags__text">
										Таджикистан
									</p>
								</a>
								<a href="news.html" class="flags__link">
									<img src="img/flag-uz.svg" alt="">
									<p class="flags__text">
										Узбекистан
									</p>
								</a>
							</div>
						</section>
						<section class="section section--news news news--party">
							<div class="section__header">
								<h2 class="title section__title">
									Мероприятия
								</h2>
							</div>
							<div class="section__content news__articles">
								<a href="single-news.html" class="article article--33">
									<span class="article__tag">
										July 13, 2013
									</span>
									<div class="article__thumb">
										<img src="http://placehold.it/900x600" alt="Превью">
									</div>
									<div class="article__content">
										<h3 class="article__title">
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<a href="single-news.html" class="article article--33">
									<span class="article__tag">
										July 13, 2013
									</span>
									<div class="article__thumb">
										<img src="http://placehold.it/900x600" alt="Превью">
									</div>
									<div class="article__content">
										<h3 class="article__title">
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<a href="single-news.html" class="article article--33">
									<span class="article__tag">
										July 13, 2013
									</span>
									<div class="article__thumb">
										<img src="http://placehold.it/900x600" alt="Превью">
									</div>
									<div class="article__content">
										<h3 class="article__title">
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<div class="article--clear-33"></div>
								<div class="article--clear-33"></div>
								<div class="article--clear-33"></div>
							</div>
						</section>
						<a href="single-news.html" class="special" style="background: linear-gradient(90deg, #1A242D 0%, rgba(26, 36, 45, 0) 100%), url('http://placehold.it/900x600');">
							<h2 class="title special__title">
								Спецпроект
							</h2>
							<h3 class="special__text">
								Посол России поблагодарил Кыргызстан <br> за борьбу с фальсификацией истории
							</h3>
						</a>
						<section class="section section--news news">
							<div class="section__header">
								<h2 class="title section__title">
									<a href="/han-index.html">Хан-Тенгри</a>
								</h2>
							</div>
							<div class="section__content news__articles">
								<a href="single-news.html" class="article article--line">
									<div class="article__thumb article__thumb--line">
										<img src="http://placehold.it/900x1600" alt="Превью">
									</div>
									<div class="article__content article__content--line">
										<time class="time article__time">
											July 13, 2013
										</time>
										<h3 class="article__title article__title--line">
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<a href="single-news.html" class="article article--line">
									<div class="article__thumb article__thumb--line">
										<img src="http://placehold.it/900x1600" alt="Превью">
									</div>
									<div class="article__content article__content--line">
										<time class="time article__time">
											July 13, 2013
										</time>
										<h3 class="article__title article__title--line">
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<a href="single-news.html" class="article article--line">
									<div class="article__thumb article__thumb--line">
										<img src="http://placehold.it/900x1600" alt="Превью">
									</div>
									<div class="article__content article__content--line">
										<time class="time article__time">
											July 13, 2013
										</time>
										<h3 class="article__title article__title--line">
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<a href="single-news.html" class="article article--line">
									<div class="article__thumb article__thumb--line">
										<img src="http://placehold.it/900x1600" alt="Превью">
									</div>
									<div class="article__content article__content--line">
										<time class="time article__time">
											July 13, 2013
										</time>
										<h3 class="article__title article__title--line">
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<a href="single-news.html" class="article article--line">
									<div class="article__thumb article__thumb--line">
										<img src="http://placehold.it/900x1600" alt="Превью">
									</div>
									<div class="article__content article__content--line">
										<time class="time article__time">
											July 13, 2013
										</time>
										<h3 class="article__title article__title--line">
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<a href="single-news.html" class="article article--line">
									<div class="article__thumb article__thumb--line">
										<img src="http://placehold.it/900x1600" alt="Превью">
									</div>
									<div class="article__content article__content--line">
										<time class="time article__time">
											July 13, 2013
										</time>
										<h3 class="article__title article__title--line">
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<a href="single-news.html" class="article article--line">
									<div class="article__thumb article__thumb--line">
										<img src="http://placehold.it/900x1600" alt="Превью">
									</div>
									<div class="article__content article__content--line">
										<time class="time article__time">
											July 13, 2013
										</time>
										<h3 class="article__title article__title--line">
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<a href="single-news.html" class="article article--line">
									<div class="article__thumb article__thumb--line">
										<img src="http://placehold.it/900x1600" alt="Превью">
									</div>
									<div class="article__content article__content--line">
										<time class="time article__time">
											July 13, 2013
										</time>
										<h3 class="article__title article__title--line">
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
											Эмомали Рахмон запустил свой процесс транзита власти
										</h3>
									</div>
								</a>
								<div class="article--clear-33"></div>
								<div class="article--clear-33"></div>
							</div>
						</section>
					</div>
					<div class="layout__sidebar">
						<aside class="sidebar">
							<h2 class="title sidebar__title">
								<a href="/news.html">Новости</a>
							</h2>
							<a href="single-news.html" class="sidebar__article">
								<time class="time sidebar__time">
									Apr 7, 2017
								</time>
								<h3 class="sidebar__name">
									Неисполнение Закона о языках – гарантия межнационального согласия в Казахстане?
								</h3>
							</a>
							<a href="single-news.html" class="sidebar__article">
								<time class="time sidebar__time">
									Apr 7, 2017
								</time>
								<h3 class="sidebar__name">
									Неисполнение Закона о языках – гарантия межнационального согласия в Казахстане?
								</h3>
							</a>
							<a href="single-news.html" class="sidebar__article">
								<time class="time sidebar__time">
									Apr 7, 2017
								</time>
								<h3 class="sidebar__name">
									Неисполнение Закона о языках – гарантия межнационального согласия в Казахстане?
								</h3>
							</a>
							<a href="single-news.html" class="sidebar__article">
								<time class="time sidebar__time">
									Apr 7, 2017
								</time>
								<h3 class="sidebar__name">
									Неисполнение Закона о языках – гарантия межнационального согласия в Казахстане?
								</h3>
							</a>
							<a href="single-news.html" class="sidebar__article">
								<time class="time sidebar__time">
									Apr 7, 2017
								</time>
								<h3 class="sidebar__name">
									Неисполнение Закона о языках – гарантия межнационального согласия в Казахстане?
								</h3>
							</a>
							<a href="single-news.html" class="sidebar__article">
								<time class="time sidebar__time">
									Apr 7, 2017
								</time>
								<h3 class="sidebar__name">
									Неисполнение Закона о языках – гарантия межнационального согласия в Казахстане?
								</h3>
							</a>
						</aside>
						<aside class="sidebar sidebar--light">
							<div class="sidebar__header">
								<h2 class="title sidebar__title">
									Инфографика
								</h2>
							</div>
							<a href="single-news.html" class="sidebar__article sidebar__article--light" style="background-image: url('http://placehold.it/900x600');">
								<h3 class="sidebar__name sidebar__name--light">
									Неисполнение Закона о языках – гарантия межнационального согласия в Казахстане?
								</h3>
							</a>
							<a href="single-news.html" class="sidebar__article sidebar__article--light" style="background-image: url('http://placehold.it/900x600');">
								<h3 class="sidebar__name sidebar__name--light">
									Неисполнение Закона о языках – гарантия межнационального согласия в Казахстане?
								</h3>
							</a>
						</aside>
					</div>
				</div>
			</div>
			<div class="container container--mobile">
				<div class="section__content news__articles">
					<a href="single-news.html" class="article article--accent article--66">
						<span class="article__tag">
							аналитика
						</span>
						<div class="article__thumb article__thumb--accent">
							<img src="http://placehold.it/900x600" alt="Превью">
						</div>
						<div class="article__content article__content--accent">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								Союз креативных кластеров Москвы обратился к правительству с письмом о срочной помощи
							</h3>
						</div>
					</a>
					<a href="single-news.html" class="article article--accent article--66">
						<span class="article__tag">
							аналитика
						</span>
						<div class="article__thumb article__thumb--accent">
							<img src="http://placehold.it/900x600" alt="Превью">
						</div>
						<div class="article__content article__content--accent">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								Галерея Hauser & Wirth запустила инициативу #artforbetter в ответ на пандемию коронавируса
							</h3>
						</div>
					</a>
					<a href="single-news.html" class="article article--33">
						<span class="article__tag">
							аналитика
						</span>
						<div class="article__thumb">
							<img src="http://placehold.it/900x600" alt="Превью">
						</div>
						<div class="article__content">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								Минкультуры Испании выделило €500 тыс. на покупку произведений искусства у местных художников
							</h3>
						</div>
					</a>
					<a href="single-news.html" class="article article--33">
						<div class="article__content">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								«Артгид» объявляет конкурс фотожаб, посвященных борьбе с коронавирусом. Победителям — призы!
							</h3>
						</div>
					</a>
					<a href="single-news.html" class="article article--33">
						<div class="article__content">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								Что почитать с детьми во время карантина, чтобы увлечь их искусством.
							</h3>
						</div>
					</a>
					<a href="single-news.html" class="article article--33">
						<div class="article__content">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								Борьба за гигиену в советских плакатах 1920–1930-х годов.
							</h3>
						</div>
					</a>
					<div class="article--clear-33"></div>
					<div class="article--clear-33"></div>
				</div>
				<a href="single-news.html" class="special" style="background: linear-gradient(90deg, #1A242D 0%, rgba(26, 36, 45, 0) 100%), url('http://placehold.it/900x600');">
					<h2 class="title special__title">
						Спецпроект
					</h2>
					<h3 class="special__text">
						Посол России поблагодарил Кыргызстан <br> за борьбу с фальсификацией истории
					</h3>
				</a>
				<div class="section__content news__articles">
					<a href="single-news.html" class="article article--33">
						<div class="article__content">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								СПб.: Азбука, Азбука-Аттикус, 2020.
							</h3>
						</div>
					</a>
					<a href="single-news.html" class="article article--33">
						<div class="article__content">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								33-я ярмарка TEFAF в Маастрихте закрылась раньше срока из-за коронавируса, но успела сверкнуть музейными продажами.
							</h3>
						</div>
					</a>
					<a href="single-news.html" class="article article--33">
						<div class="article__content">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								Мистические практики и жизнестроительные проекты в русской культуре XX века
							</h3>
						</div>
					</a>
					<a href="single-news.html" class="article article--accent article--66">
						<span class="article__tag">
							аналитика
						</span>
						<div class="article__thumb article__thumb--accent">
							<img src="http://placehold.it/900x600" alt="Превью">
						</div>
						<div class="article__content article__content--accent">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								рейси Эмин начала вести инстаграм-дневник своего опыта самоизоляции
							</h3>
						</div>
					</a>
					<a href="single-news.html" class="article article--accent article--66">
						<span class="article__tag">
							аналитика
						</span>
						<div class="article__thumb article__thumb--accent">
							<img src="http://placehold.it/900x600" alt="Превью">
						</div>
						<div class="article__content article__content--accent">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								Музей Метрополитен гарантировал оплату своим сотрудникам до 2 мая 2020 года
							</h3>
						</div>
					</a>
					<a href="single-news.html" class="article article--accent article--66">
						<span class="article__tag">
							инфографика
						</span>
						<div class="article__thumb article__thumb--accent">
							<img src="http://placehold.it/900x600" alt="Превью">
						</div>
						<div class="article__content article__content--accent">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								Галерея David Zwirner предоставила нью-йоркским галереям свои виртуальные просмотровые залы
							</h3>
						</div>
					</a>
					<a href="single-news.html" class="article article--accent article--66">
						<span class="article__tag">
							инфографика
						</span>
						<div class="article__thumb article__thumb--accent">
							<img src="http://placehold.it/900x600" alt="Превью">
						</div>
						<div class="article__content article__content--accent">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								Лоренцо Фузи станет художественным руководителем и главным куратором 1-й Ереванской биеннале
							</h3>
						</div>
					</a>
					<a href="han-single.html" class="article article--accent article--66">
						<span class="article__tag">
							хан-тенгри
						</span>
						<div class="article__thumb article__thumb--accent">
							<img src="http://placehold.it/900x600" alt="Превью">
						</div>
						<div class="article__content article__content--accent">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								Павильон России на Венецианской архитектурной биеннале превратится в цифровую платформу
							</h3>
						</div>
					</a>
					<a href="han-single.html" class="article article--accent article--66">
						<span class="article__tag">
							хан-тенгри
						</span>
						<div class="article__thumb article__thumb--accent">
							<img src="http://placehold.it/900x600" alt="Превью">
						</div>
						<div class="article__content article__content--accent">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								Московская компания Fineartway предложила безвозмездную помощь сотрудникам музеев и находящимся в группе риска
							</h3>
						</div>
					</a>
					<a href="han-single.html" class="article article--accent article--66">
						<span class="article__tag">
							хан-тенгри
						</span>
						<div class="article__thumb article__thumb--accent">
							<img src="http://placehold.it/900x600" alt="Превью">
						</div>
						<div class="article__content article__content--accent">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								Аукционные дома Christie's и Phillips определились с датами и форматом перенесенных аукционов
							</h3>
						</div>
					</a>
					<a href="han-single.html" class="article article--accent article--66">
						<span class="article__tag">
							хан-тенгри
						</span>
						<div class="article__thumb article__thumb--accent">
							<img src="http://placehold.it/900x600" alt="Превью">
						</div>
						<div class="article__content article__content--accent">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								В Нью-Йорке создан фонд в размере $75 млн для оказания поддержки некоммерческим арт-организациям и социальным службам
							</h3>
						</div>
					</a>
					<a href="han-single.html" class="article article--accent article--66">
						<span class="article__tag">
							хан-тенгри
						</span>
						<div class="article__thumb article__thumb--accent">
							<img src="http://placehold.it/900x600" alt="Превью">
						</div>
						<div class="article__content article__content--accent">
							<time class="time article__time">
								July 13, 2013
							</time>
							<h3 class="article__title">
								Фонд Потанина объявил программу экстренной поддержки культурной сферы и некоммерческого сектора
							</h3>
						</div>
					</a>
					<div class="article--clear-33"></div>
					<div class="article--clear-33"></div>
				</div>
			</div>
		</main>
		@@include("../blocks/modules/footer/footer.html")
		<script src="js/vendor.js"></script>
		<script src="js/main.js"></script>
	</div>
</body>
</html>
