<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Контакты</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
	<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
	<link rel="stylesheet" href="styles/main.css">
	<script>
		var socials = {
			vk: 'https://vk.com/lentach',
			fb: 'https://web.facebook.com/oldLentach/',
			twitter: 'https://twitter.com/oldLentach',
			ok: 'https://ok.ru/',
			tg: 'ria.ru'
		}
	</script>
</head>
<body class="body">
	<div class="page">
		@@include("../blocks/modules/header/header.html")
		<main class="content">
			<div class="container">
				<div class="layout layout--block">
					<section class="info">
						<div class="breadcrumbs">
							<a href="" class="breadcrumbs__link">
								Главная
							</a>
							<svg class="icon-svg">
								<use xlink:href="img/sprites/sprite.svg#arrow"></use>
							</svg>
							<span class="breadcrumbs__link breadcrumbs__link--static">
								Контакты
							</span>
						</div>
						<div class="info__columns">
							<div class="info__column">
								<h2 class="title info__title">
									Контакты
								</h2>
								<div class="info__content">
									<p>
										НП «Информационно-аналитический центр по изучению общественно-политических процессов на постсоветском пространстве»
									</p>
									<p>
										<b>Адрес:</b> Россия, г. Москва
										<br>
										<b>Почта:</b> <a href="mailto:info@ia-centr.ru">info@ia-centr.ru</a>
									</p>
								</div>
							</div>
							<div class="info__column">
								<h2 class="title info__title">
									Рекламодателям
								</h2>
								<div class="info__content">
									<p>
										ИАЦ МГУ - портал актуальной аналитики о странах Центральной Азии. Нас читают в Казахстане (60% аудитории), Кыргызстане (13%), России (10%), Узбекистане (5%), Таджикистане (2%). 
									</p>
									<p>
										<b>Для более подробной информации:</b>
										<br> 
										Александра Перминова, редактор:
										<br>
										<a href="mailto:info@ia-centr.ru">info@ia-centr.ru</a>
									</p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</main>
		@@include("../blocks/modules/footer/footer.html")
		<script src="js/vendor.js"></script>
		<script src="js/main.js"></script>
	</div>
</body>
</html>
