.analitic {
	margin-bottom: 40px;
	&__tabs {
		margin-bottom: 15px;
		@include r(1100) {
			padding-left: 20px;
			padding-right: 20px;
			display: none;
		}
	}
	&__tab {
		text-transform: uppercase;
		color: $blue-light;
		text-decoration: none;
		font-family: $font-title;
		margin-right: 40px;
		@include r(1100) {
			display: inline-block;
			margin-bottom: 10px;
		}
		&:hover {
			color: #5E7384;
		}
		&--active {
			pointer-events: none;
			color: $blue;
		}
	}
	&__articles {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__form {
		display: none;
		@include r(1100) {
			display: block;
			
		}
		&--1 {
			@include r(1100) {
				margin-bottom: 30px;
			}
		}
		&--2 {
			@include r(1100) {
				margin-bottom: 30px;
			}
		}
	}
}