.news {
	margin-bottom: 15px;
	&--party {
		.article__content {
			padding-top: 24px;
			@include r(1100) {
				padding-top: 12px;
			}
		}
	}
	&__articles {
		justify-content: space-between;
		.article {
			margin-bottom: 14px;
		}
	}
}