.modal {
	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.6);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
	}
	&__container {
		background-color: #fff;
		padding: 33px 89px 24px 89px;
		max-width: 700px;
		max-height: 100vh;
		text-align: center;
		box-sizing: border-box;
		position: relative;
		@include r(1100) {
			padding: 30px;
		}
		@include r(580) {
			padding: 30px 15px;
		}
	}
	&__title {
		text-transform: uppercase;
		margin-bottom: 32px;
		font-weight: 500;
		font-size: 30px;
		font-family: $font-title;
		color: $blue;
	}
	&__discript {
		margin-bottom: 10px;
	}
	&__input {
		display: block;
		width: 100%;
		height: 40px;
		background: #EFF4FA;
		border: none;
		text-align: center;
		font-family: $font-reg;
		margin-bottom: 10px;
		font-size: 16px;
		&::placeholder {
			font-family: $font-reg;
			color: #84AACB;
		}
	}
	&__button {
		font-family: $font-title;
		text-transform: uppercase;
		color: $light;
		background-color: $blue;
		padding: 9px 60px;
		border: none;
		cursor: pointer;
		transition: 0.3s all;
		margin-bottom: 34px;
		&:hover {
			opacity: 0.7;
		}
	}
	&__save {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		@include r(1100) {
			text-align: left;
		}
		&-input {
			display: none;
			&:checked + .modal__save-icon {
				svg {
					opacity: 1;
				}
			}
		}
		&-icon {
			background-color: #EFF4FA;
			height: 20px;
			width: 	20px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 11px;
			position: relative;
			flex-shrink: 0;
			svg {
				position: absolute;
				top: -1px;
				right: -1px;
				width: 18px;
				height: 18px;
				opacity: 0;
			}
		}
		&-text {
			color: #84AACB;
			font-weight: 400;
		}
	}
	&__close {
		padding: 4px 17px;
		background-color: $blue;
		color: $light;
		position: absolute;
		right: 0px;
		top: 0px;
		font-family: $font-title;
		border: none;
		cursor: pointer;
		transition: 0.3s all;
		font-size: 16px;
		transform: translateY(-100%);
		&:hover {
			opacity: 0.7;
		}
	}
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes mmfadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes mmslideIn {
	from { transform: translateY(15%); }
	to { transform: translateY(0); }
}

@keyframes mmslideOut {
	from { transform: translateY(0); }
	to { transform: translateY(-10%); }
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}